<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pogoda w Mieście:"</title>
</head>
<body>
    <h1> Weather in the city: <p th:text="${cityData.getCity().getName()}"/></h1>
    <p>Temp       : </p><p th:text="${cityData.getMain().getTemp()}"/>
    <p>Pressure   : </p><p th:text="${cityData.getMain().getPressure()}"/>
    <p>Humidity   : </p><p th:text="${cityData.getMain().getHumidity()}"/>
    <p>Wind Speed : </p><p th:text="${cityData.getWind().getSpeed()}"/>
    <p>Wind Deg   : </p><p th:text="${cityData.getWind().getDeg()}"/>
    <p>Clouds     : </p><p th:text="${cityData.getClouds().getAll()}"/>
    <p>Main       : </p><p th:text="${cityData.getWeather().get(0).getMain()}"/>
    <p>Description: </p><p th:text="${cityData.getWeather().get(0).getDescription()}"/>  <img th:width="200px" th:src="${cityData.getSrc()}" />

</body>
</html>

